<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="collection with-header">  
    <h2 class="header-list-container header collection-header">Восстановление пароля</h2>
    <div class="collection-item">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label "Электронная почта" %><br />
          <%= f.email_field :email, type: "email", class: "validate", autofocus: true %>
        </div>

        <br />

        <div class="actions">
          <%= link_to 'Отправить', '', class: "btn btn-large red accent-2 waves-effect waves-light", onclick: "$('form').submit()" %>
          <%= f.submit nil, style: "display: none;" %>
        </div>
      <% end %>

      <br />

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
