<div class="container">

  <p id="notice"><%= notice %></p>

  <ul class="collection with-header">
    <li class="collection-header">
      <h4>
        Анкета продукта
      </h4>
    </li>

    <li class="collection-item">
      <strong>Title:</strong>
      <%= @product.title %>
    </li>

    <li class="collection-item">
      <strong>Description:</strong>
      <%= @product.description %>
    </li>

    <li class="collection-item">
      <strong>Image url:</strong>
      <%= @product.image_url %>
    </li>

    <li class="collection-item">
      <strong>Price:</strong>
      <%= @product.price %>
    </li>

    <li class="collection-item">
      <strong>Article:</strong>
      <%= @product.article %>
    </li>
  </ul>

  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>

</div>