<div id="modal-decide-view" class="modal">
  <div class="modal-header" style="margin-top: 5px;">
    <a href="#!" class="right modal-action modal-close waves-effect waves-green btn-flat">
      <i class="fa fa-times"></i>
    </a>
  </div>
  <div class="modal-content">
    <h4 class="header center-align">Товар добавлен в корзину!</h4>

    <br />

    <div class="container" style="margin-top: 20px;">
      <div class="row">
        <div class="col l6 m6">
          <div class="col l12 m12">
            <% unless @product.image_url.empty? %>
              <%= image_tag(@product.image_url.to_s, height: 200, class: "cart-image") %>
            <% end %>
          </div>
        </div>
        <div class="col l6 m6">
          <div style="padding: 0.5rem;">
            <ul>
              <li>
                <h5 class="truncate">
                  <%= @product.title %>
                </h5>
                <% unless @product.article.to_s.empty? %>
                  <label>Артикул</label>
                  <h6>
                    <%= @product.article %>
                  </h6>
                <% end %>
              </li>
            </ul>

            <label>Цена:</label>

            <h5 class="price red-text" id="total_price"></h5>
          </div>
        </div>
      </div>
    </div>
      
    <div class="row">
      <%= link_to 'В каталог', depot_path, style: "margin-left: 4%;", class: "col m3 l3 btn btn-large waves-effect waves-light" %>
      <%= link_to 'Оформить заказ', '#', class: "col m3 l3 offset-l1 btn btn-large waves-effect waves-light" %>
      <%= link_to 'В корзину', @cart, class: "col m3 l3 offset-l1 btn btn-large waves-effect waves-light" %>
    </div>
  </div>
</div>