<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>

<div class="row">
	<% @products.each do |product| %>
		<div class="card-special col l4 s12">
			<div class="card">
				<%= link_to depot_show_path(product.id) do %>
	        <div class="card-image-special card-image waves-effect waves-block waves-light">
	        	<%= image_tag(product.image_url) %>
	          	<span class="card-title">
	          		<%= product.title %>
	          	</span>
	        </div>
		    <% end %>
	      <div class="card-content">	        	
	        <span class="card-title activator grey-text text-darken-4"><%= number_to_currency(product.price) %><i class="mdi-navigation-more-vert right"></i></span>
	        <!--a class="btn-floating btn-normal waves-effect waves-light right"><i class="mdi-content-add"></i></a-->
	        <!--p><%= link_to 'This is a link', product %></p-->
	        <!--p>
	        	<a href="#"><i class="mdi-action-shopping-basket right"></i>Добавить в корзину</a>
	        </p-->
	      </div>
	      <div class="card-reveal">
	        <span class="card-title grey-text text-darken-4"><%= product.title %><i class="mdi-navigation-close right"></i></span>
	        <blockquote>
	        	<p><%= sanitize(product.description) %></p>
	        </blockquote>
	      </div>
	    </div>
		</div>
	<% end %>
</div>