<div class="navbar navbar-tshop navbar-fixed megamenu" role="navigation">

  <div class="my-header">
    <nav class="nav-wrapper" style="height: 30px; line-height: 30px;">
      <div class="container">
        <div class="left side-nav-top">
          <ul class="userMenu">
            <li>
              <a href="#">
                <i class="mdi-action-info-outline hide-on-small-only left"></i>
                <span class="hide-on-small-only">Доставка</span>
                <i class="mdi-action-info-outline hide-on-med-and-up"></i>
              </a>
            </li>
            <li class="phone-number">
              <a href="callto:+8801680531352">
                <i class="hide-on-med-and-up mdi-notification-phone-in-talk"></i>
                <i class="hide-on-small-only mdi-notification-phone-in-talk left"></i>
                <span class="hide-on-small-only">+7 (911) 824 00 99</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="right side-nav-top">
          <ul class="userMenu">
            <% if user_signed_in? %>
              <ul id="account" class="dropdown-content">
                <li><a href="#!">Профиль</a></li>
                <li class="divider"></li>
                <li><%= link_to "Выйти", destroy_user_session_path, :method => :delete %></li>
              </ul>

              <li>
                <a class="dropdown-button" href="#!" data-activates="account">Профиль
                  <i class="mdi-social-person left"></i>
                  <i class="material-icons right fa fa-chevron-down"></i>
                </a>
              </li>
              
            <% else %>
              <li>
                <a href="#" data-toggle="modal" data-target="#ModalLogin">
                  <i class="mdi-social-person hide-on-med-and-up"></i>
                  <span class="hide-on-small-only">
                    <%= link_to "Войти", new_user_session_path %>
                  </span>
                </a>
              </li>
              <li class="hide-on-small-only">
                <a href="#"  data-toggle="modal" data-target="#ModalSignup">
                  <%= link_to "Зарегистрироваться", new_user_registration_path %>
                </a>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <div class="navbar main-header">
    <nav class="nav-wrapper" style="height: 50px; line-height: 50px;">
      <div class="container">
        <ul class="left search-box" style="position: absolute;">
          <li>
            <a href="#" data-activates="mobile-demo" class="button-collapse">
              <i class="mdi-navigation-menu"></i>
            </a>
          </li>
          <li>
            <form>
              <div class="input-field">
                <input id="search" type="text" required placeholder=" Поиск по сайту">
                <label for="search"><i class="mdi-action-search"></i></label>
              </div>
            </form>
          </li>
        </ul>
        <ul id="nav-mobile" class="right">
          <li>
            <%= link_to @cart, class: "waves-effect waves-light tooltipped", data: { position: "bottom", delay: "50", tooltip: "В корзину" }, style: "height: 50px;"  do %>
              <i class="fa fa-shopping-cart"></i>
              <div id="cart-badge">
                <%= render partial: 'carts/badge', object: @cart %>
              </div>
            <% end %>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <ul class="side-nav fixed" id="mobile-demo">
    <%= render "layouts/sidenav" %>
  </ul>

</div>

<script type="text/javascript">
  $(".button-collapse").sideNav();
</script>